Yr4_Semester1/Modern Technology/QLSV_WCF_Lib/Host/Service References/ServiceReference3/QLHS_WCF.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QLHS_WCF" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/QLHS_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentDTO" nillable="true" type="tns:StudentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentDTO" nillable="true" type="tns:ArrayOfStudentDTO" />
  <xs:complexType name="StudentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avg" type="xs:float" />
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentDTO" nillable="true" type="tns:StudentDTO" />
</xs:schema>